<% extends 'base.html' %>

<% block title %>Login &middot; Let's Chat<% endblock %>

<% block class %>lcb-login animated fadeIn<% endblock %>

<% block attributes %>
    style="background: black;"
<% endblock %>

<% block js %>
<$ 'login' | js | safe $>
<% endblock %>

<% block body %>
    <section class="lcb-login-main">
        <h1 class="lcb-login-logo">Chat</h1>
        <div class="lcb-login-boxes">
            <form class="lcb-login-box lcb-login-box-login validate" action="./account/login" method="post" data-refresh="true">
                <img class="lcb-login-avatar" style="display: none;" />
                <div class="form-group">
                    <input class="required form-control" placeholder="<$ __('Username or Email') $>" name="username" type="text" autofocus />
                </div>
                <div class="lcb-login-box-bottom">
                    <% if auth.local.enableRegistration %>
                        <div class="links pull-left">
                            <a href="#" class="lcb-show-box" data-target=".lcb-login-box-registration">
                                <$ __('I need an account') $>
                            </a>
                        </div>
                    <% endif %>
                    <button class="btn-info btn btn-lg pull-right" type="submit">
                        <$ __('Sign in') $>
                        <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </form>
            <% if auth.local.enableRegistration %>
                <form class="lcb-login-box lcb-login-box-registration validate" action="./account/register" method="post" style="display: none;">
                    <h2 class="lcb-login-box-heading"><$ __('Register') $></h2>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" name="username"
                                class="required form-control"
                                placeholder="<$ __('Username') $>" maxlength="48" >
                        </div>
                    </div>

                    <div class="lcb-login-box-bottom">
                        <div class="links pull-left">
                            <a href="#" class="lcb-show-box" data-target=".lcb-login-box-login">
                                <$ __('I already have an account') $>
                            </a>
                        </div>
                        <button class="btn-info btn btn-lg pull-right" type="submit">
                            <$ __('Register') $>
                        </button>
                    </div>
                </form>
            <% endif %>
            <footer class="lcb-login-footer">
            </footer>
        </div>
    </section>
<% endblock %>
